*.hi
*.o
*.cmi
*.cmo
*.annot
*.cmx
*.opt
*.omc
.omakedb
.omakedb.lock
LazyEvaluation/small_stream_test
RedBlackTree/redblack_tree_test
RedBlackTree/redblack_tree_test_ex3_10a
RedBlackTree/redblack_tree_test_ex3_10a_sorted
RedBlackTree/redblack_tree_test_ex3_10b
RedBlackTree/redblack_tree_test_ex3_10b_sorted
RedBlackTree/redblack_tree_test_sorted
RealTimeQueue/realtime_queue_test

